// ****** Variables *****
$color-primary: #0c1c25;
$color-primary-inv: #ffffff;
$color-primary-light: #0b2d40;
$color-primary-disabled: #394a53;
$color-text: #0c1c25;
$color-info: #aebef5;
$color-info-dark: #7381ad;
$color-warning: #f08046;
$color-warning-dark: #5f321b;
$color-success: #46f07f;
$color-success-dark: #1c5e32;
$background-color: #ffffff;

$font-family: 'Prompt', Arial, Helvetica, sans-serif;
$font-size: 12pt;

// ****** Font ******
@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

// ****** Styles ******

*,
body {
  font-family: $font-family;
  font-size: $font-size;
  color: $color-text;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

/* ---- General styles ---- */
.alert {
  padding: 0.5em 0.7em;
  border-radius: 0.3em;
  background-color: $color-info;
  border: 2px solid $color-info-dark;
  margin-top: 1em;
  margin-bottom: 1em;

  svg {
    display: inline-block;
    height: 1em;
    margin: 0 0.2em 0 0.2em;
  }

  &.warning {
    background-color: $color-warning;
    border-color: $color-warning-dark;
  }

  &.success {
    background-color: $color-success;
    border-color: $color-success-dark;
  }
}

button,
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid $color-primary;
  background-color: $color-primary;
  color: $color-primary-inv;
  padding: 0.5em 0.7em;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3em;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;

  img,
  svg {
    display: inline-block;
    height: 1em;
    color: $color-primary-inv;
    margin: 0 0.2em 0 0.2em;
  }
  svg {
    path,
    rect {
      stroke: $color-primary-inv;
    }

    &.svg-fill path,
    rect {
      fill: $color-primary-inv;
    }
  }

  &:hover {
    background-color: $color-primary-light;
  }
}
.button-onlyicon {
  border: 0 none;
  background-color: transparent;
  padding: 0.1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $color-primary;
  max-height: 1em;

  * {
    color: $color-primary;
  }

  img,
  svg {
    display: inline-block;
    height: 1em;
    color: $color-primary;
    margin: 0 0.2em 0 0;
  }
  svg {
    path,
    rect {
      stroke: $color-primary;
    }
  }

  &:hover {
    background-color: transparent;
  }
}

.badge {
  border-radius: 1em;
  background-color: $color-primary;
  color: $color-primary-inv;
  padding: 0.5em 1em;
  font-size: 0.7em;

  &.disabled {
    background-color: $color-primary-disabled;
  }
}

/* ---- Tables ---- */
table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  padding: 0.2em 0.5em;
}

/* ---- Forms ---- */
label {
  display: block;
  margin-right: 1em;
}

input,
.input,
.pubkey-show {
  border: 2px solid $color-primary;
  border-radius: 0.3em;
  background-color: $background-color;
  padding: 0.5em 1em;
  display: flex;
  flex-grow: 1;
}

.pubkey-show {
  padding: 0.7em 1em;
}

.form-field {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 0.5em;
  }
}

.input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  input {
    flex: 1 1 auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: calc(var(--bs-border-width) * -1);
  }
}

/* ---- Popup ---- */
.popup-main {
  max-width: 640px;

  h1 img {
    max-height: 50px;
  }

  .public-key {
    margin-bottom: 1em;
    background-color: $color-primary;
    border: 0px solid;
    border-radius: 0.3em;
    display: flex;

    code {
      margin-right: 0.5em;
    }
  }

  select {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    color: $color-primary-inv;
    padding: 0.5em 1em;
    display: flex;
    flex-grow: 1;

    &:hover {
      cursor: pointer;
      background-color: $color-primary-light;
    }
  }
}

/* ---- Options ---- */
#options-page {
  & {
    width: 100%;
    height: 100%;
  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    header {
      text-align: center;
    }

    main {
      flex-grow: 1;

      .relays-list {
        display: flex;
        flex-direction: column;

        .relays-list-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 0.5em;
          svg {
            max-height: 2em;
            align-self: center;
            margin-right: 0.5em;
          }
          input {
            flex-grow: 1;
            margin-right: 0.5em;
          }
        }
      }
    }

    footer {
      text-align: center;
      padding-bottom: 1em;
    }
  }
}

/* ---- Prompt ---- */
.prompt-main {
  .prompt-host {
    display: 'block';
    text-align: 'center';
    font-size: 2em;
  }

  .prompt-requests li {
    font-size: 1.2em;
  }

  .prompt-request-raw {
    overflow: auto;
    border: 1px solid #333333;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
  }

  .prompt-action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .prompt-action-buttons > * {
    flex: 1 1 auto;
    margin: 0.5em;
  }
}
